.p-u-list-activity-history {
    &__header-main {
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 19px;
            h3 {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    &__steps {
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li {
                padding-right: 25px;
                margin-bottom: 5px;
                a {
                    font-weight: 700;
                    line-height: 19px;
                }
                a.active {
                    border-bottom: 3px solid $cBase;
                }
                &:last-of-type {
                    padding-right: 0;
                }
            }
        }
    }
    &__content {
        margin-top: 20px;
        // ul {
        //     li {
                
        //     }
        // }
    }
    &__box {
        border: 1px solid #E2E2E2;
        border-radius: 4px;
        padding: 12px;
        position: relative;
        margin-bottom: 12px;
        &:last-of-type{
            margin-bottom: 0;
        }
        &__width{
            width: 100%;
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__status {
            display: inline-flex;
            align-items: center;
            span {
                width: 10px;
                height: 10px;
                background: #F7FC0E;
                border-radius: 50%;
                display: inline-block;
                margin-right: 8px;
            }
            strong {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
            &.red {
                span {
                    background: #E41C1C;
                }
            }
            &.green {
                span {
                    background: #3ED15E;
                }
            }
            &.violet {
                span {
                    background: #3E4DD1;
                }
            }
        }
        &__desc {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 12px;
            padding-right: 50px;
            span {
                margin-left: 3px;
            }
        }
        &__map {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: -2px;
            width: 60%;
        }
        &__btn-cancel {
            width: 100%;
            border: 1px solid #4A4A4A;
            text-align: center;
            margin-top: 35px;
            padding: 14px;
            margin-top: 21px;
            margin-bottom: -2px;
            span {
                font-weight: 700;
                line-height: 19px;
            }
        }
        &__image-error {
            position: absolute;
            right: 12px;
            top: 38px;
        }
        &__price {
            position: absolute;
            right: 12px;
            line-height: 19px;
            font-weight: 500;
            top: 69px;
        }
    }
    &__popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba($color: #000000, $alpha: 0.54);
        z-index: 100;
        &__inner {
            border-radius: 6px;
            background: #FFFFFF;
            position: fixed;
            top: calc(50% - 66px);
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
            width: 797px;
            max-width: calc(100% - 30px);
        }
        &__content {
            padding: 21px 33px 21px;
            h5 {
                text-align: center;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
            }
            p {
                margin-top: 17px;
                line-height: 19px;
                margin-bottom: 9px;
            }
        }
        &__group-btn {
            position: fixed;
            margin-top: 57px;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            width: calc(100%);
            gap: 16px;
            .c-btn-white {
                width: 100%;
                border: none;
                border-radius: 6px;
                height: 42px;
                span {
                    line-height: 19px;
                    font-size: 16px;
                }
            }
        }
        &__form-group {
            margin-bottom: 5px;
            input[type=radio]:checked+label:before,
            input[type=radio]:not(:checked)+label:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 12px;
                height: 12px;
                border: 2px solid $cBase;
                border-radius: 100%;
                background: #fff;
            }
            input[type=radio]:checked+label:after,
            input[type=radio]:not(:checked)+label:after {
                background: url(../img/user/list-activity-history/icn_radio.svg) center no-repeat;
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            input[type=radio]:checked+label,
            input[type=radio]:not(:checked)+label {
                position: relative;
                padding-left: 28px;
                font-size: 14px;
                line-height: 17px;
                display: inline-block;
                color: #000000;
                margin-bottom: 0;
            }
        }
    }
    &__btn-news {
        margin-top: -6px;
        .c-btn-white {
            width: 100%;
            position: relative;
            border: 1px solid #E2E2E2;
            border-radius: 4px;
            height: 48px;
            span {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                left: 13px;
                transform: translate(0, -50%);
            }
            &::before {
                content: url('../img/user/dashboard/icn_btn-add.svg');
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 18px;
            }
        }
    }
}