//font roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


@font-face {
    font-family: "Kozuka Gothic Pr6N R";
    font-style: normal;
    font-weight: normal;
    src: url("../font/KozGoPr6NRegular.woff");
}

@font-face {
    font-family: "Kozuka Gothic Pr6N B";
    font-style: normal;
    font-weight: normal;
    src: url("../font/KozGoPr6N-Bold.otf");
}