// ============================================================
// MediaQuery Width
// ============================================================

$width-scrollbar: 20px;

$width-small-pc: 1259px;
$width-tablet: 939px;
$width-sp-landscape: 579px;
$width-sp-portrait: 459px;
