.c-btn__black {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #121212;
    text-align: center;
    padding: 19px 20px 18px;
    width: 100%;
}
.c-btn__border{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #000;
    text-align: center;
    padding: 19px 20px 18px;
    width: 100%;
}
.c-btn__red{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F91515;
    text-align: center;
    padding: 19px 20px 18px;
    width: 100%;
}

.c-btn-black {
    width: 343px;
    height: 46px;
    max-width: 100%;
    font-family: $fontFamily;
    background: $cBase;
    position: relative;
    overflow: hidden;
    margin-bottom: 13px;
    span {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.c-btn-white {
    width: 343px;
    max-width: 100%;
    height: 46px;
    border: 1px solid $cBase;
    font-family: $fontFamily;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 13px;
    span {
        color: $cBase;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.c-btn-back{
    display: flex;
    align-items: center;
    span{
        line-height: 19px;
        font-weight: 700;
        margin-left: 13px;
    }
}