// ============================================================
// MediaQuery Width
// ============================================================
$width-br1920: 1920px;
$width-br1750: 1750px;
$width-br1580: 1580px;
$width-br1346: 1346px;
$width-br1179: 1179px;
$width-br971: 971px;
$width-br747: 747px;
$width-br555: 555px;
$width-br355: 355px;

$width-scrollbar: 20px;

