#header{
    .header-top{
        padding: 8px 0;
        .row{
            align-items: center;
        }
        .col-left{
            display: flex;
            align-items: center;
            .logo{
                display: flex;
                width: 293px;
                margin-right: 36px;
            }
            p{
                margin-bottom: 0;
                font-size: 13px;
                line-height: 44px;
            }
        }
        .col-right{
           display: flex;
           justify-content: flex-end;
            a{
                color: #000;
                display: flex;
                align-items: center;
                margin-left: 36px;
                font-size: 16px;
                line-height: 28px;
                img{
                    margin-right: 4px;
                }
            }
        }
    }
    .container{
        max-width: 1195px;
    }
    .header-menu{
        background-color: #1a1a1a;
        padding: 15px 0;
        ul{
            display: flex;
            justify-content: space-around;
            li{
                a{
                    color: #fff;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
    .header-mobile{
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        .logo{
            display: flex;
            width: 200px;
            margin-right: 36px;
        }
        .col-right{
            display: flex;
            justify-content: flex-end;
        }
        .menu-canvas{
            padding: 30px;
            width: 300px;
            max-width: calc(100% - 15px);
            height: 100%;
            background-color: #1a1a1a;
            position: fixed;
            top: 0;
            right: -300px;
            transition: .4s all;
            z-index: 10;
            .js-close-canvas{
                display: block;
                text-align: right;
                margin-bottom: 20px;
                svg{
                    width: 30px;
                    fill: #fff;
                }
            }
            ul{
                li{
                    margin-bottom: 15px;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}
.open-canvas{
    #header .menu-canvas{
        right: 0;
    }
}
