.p-register-driver-info{
    &__inner{
        margin-top: 24px;
        margin-bottom: 30px;
    }
    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 21px;
    }
    &__section-title{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 17px;
    }
    &__section{
        margin-bottom: 20px;
        &:nth-child(2){
            .p-register-driver-info__title{
                margin-bottom: 13px;
            }
        }
        .c-form__label-small{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }
    }
    .c-form{
        &__form-group{
            + .c-form__form-group{
                margin-top: 18px;
            }
        }
        &__label{
            margin-bottom: 12px;
        }
        select{
            font-size: 14px;
            line-height: 17px;
            color: #999;
            background: url(../img/driver/common/icn_down_02.svg) no-repeat calc(100% - 19px) center;
        }
    }
}