.p-register-interview{
    &__inner{
        margin-top: 46px;
        margin-bottom: 30px;
    }
    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 74px;
    }
    .c-form{
        &__form-group{
            + .c-form__form-group{
                margin-top: 18px;
            }
        }
        select{
            color: #999;
            background: url(../img/driver/common/icn_down_02.svg) no-repeat calc(100% - 19px) center;
        }
        textarea{
            height: 109px;
        }
        .custom-select-wrapper {
            position: relative;
            display: block;
            user-select: none;
            select {
                display: none;
            }
        }
        /* custom select */
        .custom-select {
            position: relative;
            display: block;
        }
        .custom-select-trigger {
            position: relative;
            display: block;
            width: 100%;
            padding: 12px 45px 11px 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            cursor: pointer;
            border: 1px solid #BDBDBD;
            background: url(../img/driver/common/icn_down_02.svg) no-repeat calc(100% - 19px) center;
            span{
                margin-left: 14px;
            }
        }
        .custom-select.opened {
            .custom-select-trigger {
                &:after {
                    margin-top: 3px;
                    transform: rotate(-135deg) translateY(-50%);
                }
            }
            .custom-options {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }
        }
        .custom-options {
            padding: 12px 0;
            width: 133px;
            border: 1px solid #B8BFC4;
            border-radius: 12px;
            position: absolute;
            display: block;
            top: calc(100% - 6px);
            right: 0;
            border: 1px solid #b5b5b5;
            background: #fff;
            transition: all .4s ease-in-out;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(-15px);
            height: 178px;
            overflow-y: auto;
            z-index: 10;
        }
        .option-hover {
            &:before {
                background: #f9f9f9;
            }
        }
        .custom-option {
            position: relative;
            display: block;
            padding: 0 6px;
            font-size: 18px;
            font-weight: 500;
            color: #2C3E50;
            line-height: 24px;
            cursor: pointer;
            transition: all .4s ease-in-out;
            + span{
                margin-top: 8px;
            }
        }
        .custom-option.selection {
            background: #f9f9f9;
        }

        /* Date input custom */
        #custom-input-date{
            cursor: pointer;
            font-size: 16px;
            line-height: 19px;
            background: url("../img/driver/common/icn_calendar.svg") no-repeat calc(100% - 10px) center;
        }
        
    }
    &__btn-continue{
        margin-top: 110px;
        a{
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            background: #121212;
            text-align: center;
            padding: 13px 20px 16px;
            width: 100%;
        }
    }
}