.p-training-conduct{
    text-align: center;
    &__inner{
        height: calc(100vh - 56px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content{
        width: 100%;
        margin-top: 7px;
        img{
            width: 113px;
            margin-bottom: 37px;
        }
        h3{
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 73px;
        }
    }
}