.p-training-complete{
    text-align: center;
    &__inner{
        margin-top: 24px;
        margin-bottom: 30px;
    }
    &__icon-checked{
        margin-bottom: 32px;
    }
    &__desc{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 31px;
    }
    h3{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 46px;
    }
    &__group-btn{
        .c-btn__black{
            border: 1px solid #000;
        }
        a{
            padding: 14px 20px 13px;
            + a{
                margin-top: 16px;
            }
        }
    }
}